<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>D&amp;D-Master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A20FCFBA1E81B6EB00557A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20FCFD01E81B6EC00557A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20FCFDB1E81B6EC00557A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
